Content/Art/*
!Content/Art/glsuper.pkg
!Content/Art/huj2flags.pkg
!Content/Art/jestarsuper.pkg
!Content/Art/keelei.pkg
!Content/Art/smokeless.pkg
!Content/Art/SpeedBars.pkg
!Content/Art/Radar.pkg
!Content/Art/superburner.pkg
!Content/Art/supermortar.pkg

Content/Classes/*
Content/Cutscenes/*
Content/HavokData/*
Content/Help/*
Content/Maps/*
Content/Mods/*
Content/Movement/*
Content/Music/*
Content/Saves/*
Content/Skins/*
Content/Sounds/*
Content/System/*
!Content/System/*.ini
Content/Web/*

Program/Bin/*
!Program/Bin/*.ini
!Program/Bin/T2FlagHud.u
!Program/Bin/PingHud.u
!Program/Bin/FlagHud.u

Program/Cache/*
TV Cache Manager/*

*.demo
*.log
*.zip
*.dll
*.exe
*.ger
*.int
*.kor
*.lst
*.html